{% if user.is_authenticated %}
    <p class="logged-in-p0">
        Coe meno {{ user.username }} quale a de hoje?
        <span class="sair"><a href="{% url 'logout' %}"></a></span>
    </p>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Funcionarios</h1>
    {% for valor in valor %}
        <p>Numero Processo: {{ valor.numero }}, Funcionario: {{ valor.funcionario }}</p>
    {% endfor %}
</body>
</html>